{% extends 'base.html' %}
{% block title %}Insertar Pedido{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">Insertar Pedido</div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_cliente">Cliente:</label>
                
                {{ form.cliente }}
            </div>
            <div class="form-group">
                <label for="id_fecha_pedido">Fecha del pedido:</label>
                {{ form.fecha_pedido }}
            </div>
            <div class="form-group">
                <label>Productos:</label>
                {{ form.productos }}
                {% for producto in productos %}
                    <div class="form-group mt-2">
                        <label for="cantidad_{{ producto.id_producto }}">Cantidad de {{ producto.nombre }}:</label>
                        <input type="number" name="cantidad_{{ producto.id_producto }}" id="cantidad_{{ producto.id_producto }}" 
                               min="0" value="1" class="form-control d-inline-block" style="width: 100px;">
                    </div>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Insertar</button>
        </form>
    </div>
</div>
{% endblock %}